{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Sales chatbox</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <section style="background-color: #eee;">
      <div class="container py-5">
    
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
    
            <div class="card" id="chat1" style="border-radius: 15px;">
              <div
                class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <i class="fas fa-angle-left"></i>
                <p class="mb-0 fw-bold">Chatbot</p>
                <i class="fas fa-times"></i>
              </div>
              <div class="card-body">
    
                <div class="d-flex flex-row justify-content-start mb-4">
                  <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0">Hai Welcome to chatbot..!</p>
                  </div>
                </div>
    
                <div class="d-flex flex-row justify-content-end mb-4 message-list">
                  <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                    <p class="small mb-0">{{messageInput}}</p>
                  </div>
                  
                </div>

                <div class="d-flex flex-row justify-content-start mb-4">
                  <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0">{{result}}</p>
                  </div>
                </div>
    
    
                
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-outline text-center">
                  <input class="form-control" id="textAreaExample" name="messageInput" rows="4">
                  <button type="submit" class="btn btn-primary m-2" >Enter</button>
                </div>
              </form>
              </div>
            </div>
    
          </div>
        </div>
    
      </div>
    </section>

   
   
    <script src="{% static 'style.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>